<app-header></app-header>
<app-menu></app-menu>


<div *ngIf="Lposition!='Manager'" style="margin: 10% 0% 0% 50%;">
  <h1>This user isn't Manager</h1>
  <h2 style="margin: 0% 0% 0% 3%;">"It can't see this page"</h2>
</div>

<div class="content-wrapper" *ngIf="Lposition=='Manager'">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>

        </div><!-- /.col -->

        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <form action="/action_page.php" style="margin: 0% 0% 0% 10%;">
              <select name="swom" id="swom" #swom style="width: 80%;">
                <option value="1">Week1</option>
                <option value="2">Week2</option>
                <option value="3">Week3</option>
                <option value="4">Week4</option>
                <option value="5">Monthly</option>
              </select>
              <input type="Submit" value="Submit" (click)="clickme(swom.value)">
            </form>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-6" style.height="200px">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">

              <h3>{{DieselValue}}</h3>
              <p>Diesel (Litre)</p>
            </div>
            <div class="icon">
              <i class="ion ion-egg"></i>
            </div>

          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3>{{Gasohol95Value}}<sup style="font-size: 20px"></sup></h3>

              <p>Gasohol95 (Litre)</p>
            </div>
            <div class="icon">
              <i class="ion ion-egg"></i>
            </div>

          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{NumberTruckIn}}</h3>

              <p>Number of truck IN</p>
            </div>
            <div class="icon">
              <i class="fas fa-bus"></i>
            </div>

          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>{{AvgCycleTime}}</h3>

              <p>AVG cycle time (min.)</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>

          </div>
        </div>
        <!-- ./col -->
      </div>



      <!-- Start row1 -->
      <div class="row">

      </div>
      <!-- /Graph Frist By Time -->
      <!-- End row1 -->



      <div class="row">
        <!-- Start row2 -->
        <!-- Graph SCH_Utilization -->
        <div class="col-lg-6 col-6">
          <section class="card bg-dark">
            <div class="card-header border-0">
              <h3 class="card-title">
                <i class="fas fa-th mr-1"></i>
                SCH_Utilization
              </h3>

            </div>
            <div class="col-lg-12 col-12" *ngIf="UOut!=null">

              <canvas height="412" baseChart [datasets]="lineChartData2" [labels]="lineChartLabels2"
                [options]="barChartOptions" [plugins]="lineChartPlugins2" [legend]="lineChartLegend2"
                [chartType]="lineChartType2">
              </canvas>
            </div>
            <!-- /.card-body -->

          </section>
        </div>
        <!-- /Graph SCH_Utilization -->

        <!-- Graph Queue by station -->
        <div class="col-lg-6 col-6">
          <section class="card bg-dark">
            <div class="card-header border-0">
              <h3 class="card-title">
                <i class="fas fa-th mr-1"></i>
                Queue by station
              </h3>

            </div>
            <div class="col-lg-12 " *ngIf="NOut!=null">

              <canvas height="395" baseChart [datasets]="barChartData3" [labels]="barChartLabels3"
                [options]="barChartOptions" [plugins]="barChartPlugins3" [legend]="barChartLegend3"
                [chartType]="barChartType3">
              </canvas>
            </div>
            <!-- /.card-body -->
            <div class="card-footer bg-transparent">
              <div class="row">

              </div>
            </div>
          </section>
          <!-- Waiting time by station -->
          <!-- <section class="card bg-dark">
            <div class="card-header border-0">
              <h3 class="card-title">
                <i class="fas fa-th mr-1"></i>
                Waiting time by station
              </h3>

            </div>
            <div class="col-lg-12 " *ngIf="WOut!=null">

              <canvas height="150" baseChart [datasets]="barChartData4" [labels]="barChartLabels4"
                [options]="barChartOptions" [plugins]="barChartPlugins4" [legend]="barChartLegend4"
                [chartType]="barChartType4">
              </canvas>
            </div>
            
            
          </section> -->
          
          </div>
        </div>

        <!-- End row2-->

        <!-- Start row3-->
        <div class="row">
          <!--open row WAITING TIME -->
          <div class="col-lg-6 col-6">
            <section class="card bg-dark">
              <div class="card-header border-0">
                <h3 class="card-title">
                  <i class="fas fa-th mr-1"></i>
                  Waiting time by station
                </h3>

              </div>
              <div class="col-lg-12 " *ngIf="WOut!=null">

                <canvas height="250" baseChart [datasets]="barChartData4" [labels]="barChartLabels4"
                  [options]="barChartOptions" [plugins]="barChartPlugins4" [legend]="barChartLegend4"
                  [chartType]="barChartType4">
                </canvas>
              </div>
              <!-- /.card-body -->

            </section>
          </div>
            <!--close row WAITING TIME -->
            <!-- open WIP -->
            <div class="col-lg-6 col-6">
              <section class="card bg-dark">
                <div class="card-header border-0">
                  <h3 class="card-title">
                    <i class="fas fa-th mr-1"></i>
                    WIP by station
                  </h3>

                </div>
                <div class="col-lg-12 col-12" *ngIf="IOut!=null">
                  <canvas height="235" baseChart [datasets]="lineChartData5" [labels]="lineChartLabels5"
                    [options]="barChartOptions" [plugins]="lineChartPlugins5" [legend]="lineChartLegend5"
                    [chartType]="lineChartType5">
                  </canvas>
                </div>

                <!-- /.card-body -->
                <div class="card-footer bg-transparent">
                  <div class="row">

                  </div>
                </div>
              </section>
            </div>
          



        </div>
        <!-- end row3 -->
      </div>
      <!-- /.content -->


    </div>
