<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <i class="fab fa-fort-awesome"> <br> AUTOMATION SYSTEMS
        </i>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
    

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

          <li class="nav-item">
            <a href="/operator/dashboard" class="nav-link">
              <i class="fas fa-user-astronaut"></i>
              <p>
                Operator
              </p>
            </a>
          </li>
          
          <li class="nav-item" *ngIf="Lposition=='Manager'">
            <a href="/manager/dashboard" class="nav-link">
              <i class="fas fa-chart-line"></i>
              <p>
                Manager
              </p>
            </a>
          </li>
          
          <li class="nav-item menu-open" *ngIf="Lposition=='Manager'">
            <a class="nav-link">
              <i class="fas fa-comment-dollar"></i>
              <p>
                Finance
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="./journal" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>General Journal</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./ledger" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>General Ledger</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./income" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Income Statement</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./reconciliation" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Reconciliation Sheet</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./inventory" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Inventory Stock Card</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./purchase" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Purchase Order</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./invoice" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Paid Sale Invoice</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
              <a href="./profile" class="nav-link">
                <i class="far fa-user-circle"></i>
                <p>
                  Profile
                </p>
              </a>
          </li>
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

<p>menu works!</p>
